<article>
  <h1>Interpolação</h1>
  <!-- Quando a gente joga do meio lógico para o template -->
  <p>O nome do professor: {{ nome }}</p>
  <p>Ano que vem o professor terá: {{ idade + 1 }} anos</p>
  <p>O professor é um adulto? R- {{ idade > 17 }}</p>
  <p>{{ imprime() }}</p>
  <img src="{{ url }}" alt="">
</article>
<article>
  <!-- Quando a gente joga do template para o meio lógico -->
  <h1>Property Binding</h1>
  <p [style.textShadow] = "cor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptatem in molestiae atque quas cupiditate non unde obcaecati, cum commodi eveniet, totam ratione odio inventore, repellendus ullam ipsam nobis tenetur?</p>
</article>
<article>
  <h1>Event Binding</h1>
  <!-- Event binding é o oposto da interpolação, ele ativa do template alguma mudança lógica -->
  <!-- Quando usados os dois, se chama two way binding -->
  <p (click)="muda()" [style.color]="corTexto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit iusto eius iste dolor ipsam, doloremque quibusdam ea nemo voluptas quidem dolores tempore quam cum iure tenetur impedit omnis! Accusamus, facilis!</p>
</article>
<article>
  <h1>Variável de template</h1>
  <input type="text"(keyup)="escreve(valor.value)"#valor>
  <p>{{texto}}</p>
</article>
<article>
  <select (change) = "mudaTema(modo.value)" #modo>
    <option value="dark">Escuro</option>
    <option value="light">Claro</option>
  </select>
  <p [class]="tema">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe nihil sapiente maiores ut animi tempora facere doloremque inventore deserunt, dolorum excepturi eius quo architecto officia maxime amet doloribus impedit possimus.</p>
</article>
<home></home>